#grid-wrap {
	position: relative;
	width: 61.25rem;
	margin-left:3px;
	height: 1110px;
	top:30px;
}

.grid-box {
	position: relative;
	display: inline-block;
	width: 280px;
	margin: 11px 0; 
	color: #fff;
	overflow: hidden;
	transition:all;
	transition-duration:5s;
}

.grid-box.featured:first-child{
	width: 460px;
	margin-left:10px;
}

.grid-box .entry-title a,
.grid-box .entry-title a:visited {
	text-decoration: none;
	color: #fff;
}

.grid-box .entry-title a:hover {
	text-decoration: underline;
}

.grid-box-img img {
		height:auto;
		min-width:100%;
		max-width:100%;
}

.grid-box .entry-title{
	padding-left:12px;
	padding-right:12px;
	font-family:"Roboto";
	font-size: 15px; 
	font-weight: 300;
	text-transform: uppercase;
}

.grid-box .entry-content{
	margin-top:-10px;
	padding-left:12px;
	padding-right:12px;
	padding-bottom:12px;
	font-family:"Roboto";
	font-size: 15px; 
	font-weight: 300;
	line-height: 18px; 
}

.grid-box .entry-header{
	margin-bottom:10px;
}

