<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <error-page>
        <location>/404/404.html</location>
    </error-page>
    <listener>
        <description>BackgroundListener</description>
        <listener-class>utilities.BackgroundListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>servlets.DispatcherServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>RankingServlet</servlet-name>
        <servlet-class>servlets.RankingServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>GetGameListJavaScript</servlet-name>
        <servlet-class>servlets.GetGameListJavaScript</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetArticleListJavaScript</servlet-name>
        <servlet-class>servlets.GetArticleListJavaScript</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticlesServlet</servlet-name>
        <servlet-class>servlets.ArticlesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArticleDetail</servlet-name>
        <servlet-class>servlets.ArticleDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArticleServlet</servlet-name>
        <servlet-class>servlets.SearchArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/DispatcherServlet</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>RankingServlet</servlet-name>
        <url-pattern>/RankingServlet</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>GetGameListJavaScript</servlet-name>
        <url-pattern>/GetGameListJavaScript</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetArticleListJavaScript</servlet-name>
        <url-pattern>/GetArticleListJavaScript</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticlesServlet</servlet-name>
        <url-pattern>/ArticlesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleDetail</servlet-name>
        <url-pattern>/ArticleDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArticleServlet</servlet-name>
        <url-pattern>/SearchArticleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatcherServlet</welcome-file>
    </welcome-file-list>
</web-app>
